@import url('//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');

html, body { 
	max-width: 100%; 
	overflow-x: hidden; 
	overflow-y:scroll; 
	padding-top: 25px; 
}

html { 
}

body { 
}

#todo-list { 
	margin-bottom:30px; 
}
	
.timestamp { 
	float: right; 
	font-size: .8em; 
	opacity: .5;
}