/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css');

html, body { 
	max-width: 100%; 
	overflow-x: hidden; 
	overflow-y:scroll; 
	padding-top: 25px; 
}

html { 
}

body { 
}

#todo-list { 
	margin-top: 30px;
	margin-bottom:50px; 
}
	
/*.timestamp { 
	float: right; 
	font-size: .8em; 
	opacity: .5;
}*/