/*@import url('//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css');*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css');

html, body { 
	max-width: 100%; 
	overflow-x: hidden; 
	overflow-y:scroll; 
	padding-top: 25px; 
}

html { 
}

body { 
}

#todo-list { 
	margin-top: 30px;
	margin-bottom:50px; 
}
	
.timestamp { 
	float: right; 
	font-size: .6em; 
	opacity: .5;
	margin-top: 5px;
}

.left {
	text-align: left;
}

.label-info {
	font-size: 26px;
}