html, body { 
	max-width: 100%; 
	overflow-x: hidden; 
	overflow-y:scroll; 
}

html { 
}

::-webkit-scrollbar { 
    display: none; 
}

#todo-list { 
	margin-top: 30px;
	margin-bottom:50px; 
}

.timestamp { 
	float: right; 
	font-size: .6em; 
	opacity: .5;
	margin-top: -10px;
}

.left {
	text-align: left;
}

.label-info {
	font-size: 26px;
}

.top-bar {
	margin-bottom: 30px;
}

.center {
	text-align: center;
}

.sharp {
	border-radius: 0px;
}

.colored {
	background-color: #80b3de;
}

.colored:hover {
	background-color: #6896bd;
}

.list-group-item:first-child, .list-group-item:last-child {
	border-radius: 0px;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}

.btn-primary.outline {
	border: 2px solid #0099cc;
	color: #0099cc;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #33a6cc;
	border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: -30px;
	/*height: 100px;  choose any height */
}