@import url('https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.css');

html, body { 
	max-width: 100%; 
	overflow-x: hidden; 
	overflow-y:scroll; 
}

html { 
}

body::-webkit-scrollbar { 
    display: none; 
}

#todo-list { 
	margin-top: 30px;
	margin-bottom:50px; 
}
	
.timestamp { 
	float: right; 
	font-size: .6em; 
	opacity: .5;
	margin-top: 5px;
}

.left {
	text-align: left;
}

.label-info {
	font-size: 26px;
}

.row .large-11 {
	padding-top: 30px;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/*height: 100px;  choose any height */
}