<div class="row">
	<div class="medium-6 small-centered">
		<div class="columns callout secondary medium text-center">
			<h2>Login</h2>
		</div>
	</div>
</div>

<form>
	<div class="row">
		<div class="medium-6 small-centered columns">
			<input type="text" placeholder="Username" name="userName">
		</div>
	</div>
	<div class="row">
		<div class="medium-6 small-centered columns">
			<input type="text" placeholder="Password" name="password">
		</div>
	</div>
	<div class="row">
		<div class="colums text-center">
			<button type="submit" class="button secondary large">Go!</button>
		</div>		
	</div>
</form>